* {
    margin-left: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #cbc6c6;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #333;
    color: rgb(235, 225, 225);
    text-align: center;
    padding: 27px;
    border-radius: 20px;
}

.container {
    padding: 0;
    text-align: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    display: flex;
    height: auto;
    overflow: auto;
    margin-bottom: 40px;
}

.box {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    flex-wrap: wrap;
}

.h22 {
    text-align: center;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    color: rgb(21, 3, 3);
    font-size: 2rem;
}

.cupang {
    background-color: beige;
    margin: 0.5rem;
    border-radius: 10%;
}

.cupang img {
    border-radius: 10%;
    margin: 0.5rem;
    width: 150px;
    aspect-ratio: 1/1;
}

.cupang p {
    text-align: center;
    background-color: rgb(159, 159, 179);
    margin: 0.5rem;
    border-radius: 40px;
    padding: 0.2rem;
}

.cupang img:hover {
    transform: scale(1.1);
}

.cupang p:hover {
    background-color: rgb(128, 128, 241);
    transform: scale(1.1);
}

/* footer section */
footer {
    background: rgb(35, 33, 33);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    border-radius: 20px;
}

footer h2 {
    color: rgb(161, 155, 124);
    margin-bottom: 30px;
}

.footer-text {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0px;
}

footer input:hover[type='submit'] {
    background: rgb(219, 3, 154);
}

.list-footer {
    margin: 20px 0px;
    display: flex;
    list-style-type: none;
}

.list-footer li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.list-footer li a:hover {
    color: var(--mycolor);
}

.social-media {
    margin: 20px auto;
}

.footer-social-media i {
    padding: 5px;
    font-size: 30px;
    color: #fff;

}

@media screen and (max-width: 480px) {
    .cupang p {
        background-color: yellow;
    }
    .box{
        justify-content: center;
        align-items: center;
    }
    .h22 {
        color: yellow;
    }
}

.footer-social-media i:hover {
    color: rgb(2, 255, 171);
}

