* {
    margin-left: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/* styling navbar */

.navbar {
    display: flex;
    background-color: rgb(202, 136, 136);
}

.navbar .title {
    margin-right: 400px;
}

.title h1 {
    text-decoration: none;
    color: blueviolet;
}

.navbar .title a:visited {
    color: yellowgreen;
}

.navbar .navigations {
    display: flex;
}

.navbar li {
    display: flex;
    list-style-type: none;
}

.navbar li a {
    text-decoration: none;
    margin: 1rem;
}

.navbar li a:visited {
    text-decoration: none;
    color: black;
}

/* Halaman Utama */
.utama {
    background-color: white;
    display: flex;
}

.utama img {
    width: 270px;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 80px;
}

.utama p {
    font-size: large;
    margin-left: 90px;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    font-style: italic;
}

/* styling jelajahi program */

.about {
    padding: 5rem 7% 1.4rem;
    background-color: #fff;
    margin-right: 90px;
}

.about h1 {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: blue;
}

.about h1 span {
    color: #4508c1;
}

.about .row {
    display: flex;
}

.about .row .blank-space {
    width: 150px;
}

.about .row .content {
    flex: 1 1 35rem;
    margin-top: 2rem;
}

.about .row .content h2 {
    font-size: 1.2rem;
    margin-left: 1rem;
    color: #150436;
}

.about .row .content p {
    font-size: 1rem;
    display: flex;
    padding-left: 1rem;
    margin-bottom: 2rem;
    color: #150436;
    justify-content: center;
}

.contentt p {
    font-size: small;
}


/* cupang */

.container {
    padding: 0;
    text-align: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    display: flex;
    height: auto;
    overflow: auto;
    margin-bottom: 40px;
    background-color: #f9f8f8;
}

.box {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    flex-wrap: wrap;
}

.h22 {
    text-align: center;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: 2rem;
}

.cupang {
    background-color: rgb(198, 166, 166);
    margin: 0.5rem;
    border-radius: 10%;
}

.cupang img {
    border-radius: 10%;
    margin: 0.5rem;
    width: 150px;
    aspect-ratio: 1/1;
}

.cupang p {
    text-align: center;
    background-color: rgb(145, 145, 243);
    margin: 0.5rem;
    border-radius: 40px;
    padding: 0.2rem;
}

.cupang img:hover {
    transform: scale(1.1);
}

.cupang p:hover {
    background-color: rgb(128, 128, 241);
    transform: scale(1.1);
}

/* footer section */
footer {
    background: rgb(35, 33, 33);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    border-radius: 20px;
}

footer h2 {
    color: rgb(107, 107, 182);
    margin-bottom: 30px;
}

.footer-text {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0px;
}

footer input:hover[type='submit'] {
    background: rgb(219, 3, 154);
}

.list-footer {
    margin: 20px 0px;
    display: flex;
    list-style-type: none;
}

.list-footer li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.list-footer li a:hover {
    color: var(--mycolor);
}

.social-media {
    margin: 50px;
}

.footer-social-media i {
    padding: 5px;
    font-size: 30px;
    color: #fff;
    margin: 2rem;

}

@media screen and (max-width: 480px) {
    .cupang p {
        background-color: yellow;
    }
    .box{
        justify-content: center;
        align-items: center;
    }
    .h22 {
        color: yellow;
    }
}

.footer-social-media i:hover {
    color: rgb(2, 255, 171);
}

